.user-table {
  width: 100%;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.user-table td {
  cursor: pointer;
}

.user-table th {
  background-color: #005f73;
  color: #fff;
  font-size: 18px;
}

.user-table tr:nth-child(even) {
  background-color: #f4f4f4;
}

.user-table tr:hover {
  background-color: #e1e1e1;
}
